body{
    background-color: #18191A;
    color: #fff;
    
}
.home{
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:50px 8% 0;
}
.home-content{
    max-width: 630px;
}
.home-content h1{
    font-size: 50px;
    line-height: 1.2;
    opacity:0;
    animation: slidebottom 1s ease forwards;
    animation-delay: 1s;
}
.home-content h3{
    font-size: 40px;
    color: #1743e3;
    opacity:0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.3s;
}
.home-content p{
font-size: 16px;
margin: 15px 0 30px;
opacity:0;
animation: slideLeft 1s ease forwards;
animation-delay: 1.6s;
}
.btn{
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    opacity:0;
animation: slidetop 1s ease forwards;
animation-delay: 1.9s;
}
.btn::after{
    content:"";
    z-index:-1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.btn::before{
    content:"";
    background:linear-gradient(
        45deg,
        #FF0000,#FF7300,#FFFB00,#48FF00,
        #00FFD5,#002BFF,#FF00C8,#FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:calc(100% + 4px);
    filter:blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity:1;
}
@keyframes glowing{
    0%{background-position: 0 0;}
    50%{background-position:400% 0;}
    100%{background-position: 0 0;}
}

/* hover */
.btn:active::after {
    background: transparent;
}
.btn:active{
    color: #000;
    font-weight: bold;
}
.home-img{
    position:relative;
    right:-11%;
    width: 450px;
    height: 450px;
    transform:rotate(45deg);
    
}
.home-img .rhombus::after{
    content:"";
    z-index:-1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px; 
}
.home-img .rhombus::before{
    content:"";
    background:linear-gradient(
        45deg,
        #FF0000,#FF7300,#FFFB00,#48FF00,
        #00FFD5,#002BFF,#FF00C8,#FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:calc(100% + 4px);
    filter:blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity:1;

} 



.home-img .rhombus img {
    position:absolute;
    top: 110px;
    left: -250px;
    width:750px;
    transform:rotate(-45deg);
    opacity:0;
    animation: car 1s ease forwards;
    animation-delay: 2s;  
}
.home .rhombus2 {
    position:absolute;
    top: -25%;
    right: -25%;
    width: 700px;
    height: 700px;
    background: #333;
    transform:rotate(45deg);
    z-index:-1;
    opacity:0;
    animation: rhombus2 1s ease forwards; 
}
@keyframes slidebottom{
    0%{
        transform:translateY(-100px);
        opacity:0;
    }
   100%{
        transform:translateY(0);
        opacity:1;
    }
}
@keyframes slideRight{
    0%{
        transform:translateX(-100px);
        opacity:0;
    }
   100%{
        transform:translateX(0);
        opacity:1;
    }
}
@keyframes slideLeft{
    0%{
        transform:translateX(100px);
        opacity:0;
    }
   100%{
        transform:translateX(0);
        opacity:1;
    }
}
@keyframes slidetop{
    0%{
        transform:translateY(100px);
        opacity:0;
    }
   100%{
        transform:translateY(0);
        opacity:1;
    }
}
@keyframes zoomOut{
    0%{
        transform:scale(1.1);
        opacity:0;
    }
   100%{
        transform:scale(1);
        opacity:1;
    }
}
@keyframes car{
    0%{
        transform:translate(300px, -300px) scale(0) rotate(-45deg);
        opacity:0;
    }
   100%{
    transform:translate(0, 0) scale(1) rotate(-45deg);
    opacity:1;
    }
}
@keyframes rhombus2{
    0%{
        right:-40%;
        opacity:0;
    }
   100%{
        right: -25%;
        opacity:1;
    }
}