@font-face {
    font-family:'IRANSans';
    src: url('fonts/teqh_iransansweb.ttf') format('turetype'),url('fonts/IRANSans-web.woff') format('woff');
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'IRANSans';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#0c0c0c ;
    overflow: hidden;
}
.back a{
    position: absolute;
    color: #a5a5a5;
    top:90px;
    right:130px;
    text-decoration: none;
}
.button{
    position: absolute;
    top:6px;
    right:-20px;
}
.back a:hover{
    color: #fff;
}
.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background-color:#18191A ;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size:2em;
    color: #fff;
    text-align:center ; 
    transition:.5s ease;
}
.input-check:checked ~ h2{
    color: #fde74c;
    text-shadow:0 0 15px #fde74c,
    0 0 30px #fde74c;
}
.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
}
.input-box .input-line{
    position: absolute;
    bottom:-2px;
    left: 0;
    width: 100%;
    height: 2.5px;
    background-color: #fff;
    transition:.5s ease;
}
.input-check:checked ~ .input-box .input-line{
    background-color: #fde74c;
    box-shadow: 0 0 10px #fde74c;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size:1em;
    color: #fff;
    pointer-events: none;
    transition:.5s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
}
.input-check:checked ~ .input-box label{
    color: #fde74c;
    text-shadow: 0 0 10px #fde74c;
}
.input-box input{
    width: 100%;
    height: 50px;
    background-color:transparent ;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding:0 35px 0 5px;
    transition:.5s ease;
    }
    .input-check:checked ~ .input-box input{
        color: #fde74c;
        text-shadow:0 0 10px #fde74c;
    }
    .input-box .icon{
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 1.2em;;
        line-height:57px;
        transition:.5s ease;
    }
    .input-check:checked ~ .input-box .icon{
        color: #fde74c;
        filter: drop-shadow(0 0 10px  #fde74c);
    }
    .remember-forgot{
        color: #fff;
        font-size:.9em;
        margin:-15px 0 15px;
        display: flex;
        justify-content: space-between;
        transition:.5s ease;
    }
    .input-check:checked ~ .remember-forgot{
        color: #fde74c;
        text-shadow:0 0 10px #fde74c;
    }
    .remember-forgot label input{
        accent-color:#fff;
        margin-right:3px;
        transition:.5s ease;
    }
    .input-check:checked ~ .remember-forgot label input{
        accent-color:#fde74c;
    }
    .remember-forgot a{
        color:#fff;
        text-decoration: none;
        text-transform: color .5s ease;
    }
    .input-check:checked ~ .remember-forgot a{
        color:#fde74c;
    }
    button{
        width: 100%;
        height: 40px;
        background-color: #fff;
        border: none;
        outline: none;
        border-radius:40px;
        cursor: pointer;
        font-size: 1em;
        color: #000;
        font-weight: 500;
        transition:.5s ease;
    }
    .input-check:checked ~ button{
        background-color: #fde74c;
        box-shadow: 0 0 15px #fde74c, 0 0 15px #fde74c;
    }
    .register-link{
        color: #fff;
        font-size:.9em;
        text-align: center;
        margin: 25px 0 10px;
        transition:.5s ease;
    }
.input-check:checked ~     .register-link{
    color: #fde74c;
}
.register-link a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition:.5s ease;
}
.input-check:checked ~ .register-link a{
    color: #fde74c;
}
.login-light{
    position: absolute;
    top: 0;
    left: 50%;
    transform:translateX(-50%);
    width: 500px;
    height: 10px;
    border-radius:20px;
    background-color: #fde74c;
}
.light{
    position: absolute;
    top: -200%;
    left: 0;
    width: 100%;
    height: 950px;
    background:linear-gradient(to bottom , rgba(255,255,255,.3)-15%,rgba(255,255,255,0)90%);
    clip-path: polygon(20% 0,80% 0 ,100% 100%,0 100%);
    pointer-events: none;
    transition:.5s ease;
}
.input-check:checked ~ .light{
    top: -90%;
}
.toggle{
    position: absolute;
    top: 20px;
    right: -70px;
    width: 60px;
    height: 120px;
    background-color: #242424;
    border-radius:10px;
}
.toggle::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 10px;
    height: 80%;
    background-color: #000;
}
.toggle::after{
    content: '';
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    background-color: #242424;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition:.5s ease;
}
.input-check:checked ~ .toggle::after{
    top: 65px;

}
.input-check{
    position: absolute;
    right: -70px;
    z-index:1 ;
    opacity:0;
}
.toggle .text{
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1em;
    z-index:1;
    pointer-events: none;
    transition:.5s ease;
}
.toggle .text.off{
    opacity: 1;
}
.input-check:checked ~ .toggle .text.off{
    top: 79px;
    opacity:0;
}
.toggle .text.on{
    opacity: 0;
}
.input-check:checked ~ .toggle .text.on{
    top: 76px;
    opacity:1;
    text-shadow:0 0 15px #fde74c,0 0 30px #fde74c,0 0 45px #fde74c,0 0 60px #fde74c;
}